<h1>Dashboard</h1>
<hr>

<form method="get" action="/post/create">
   <p>Titulo    : <input name="title"></p>
   <p>Contenido : <textarea name="content"></textarea></p>
   <p>Url imagen: <input name="image_url"></p>
   <input type="submit" value="Enviar">
   <button type="button"><%= link_to "Ir al Posteos", root_path %></button>

</form>




